@import "o-assets/main";

@include oAssetsSetModulePaths((
	o-ft-icons: '//build.origami.ft.com/files/o-ft-icons'
));

@import "o-fonts/main";
@include oFontsInclude(BentonSans, normal);
@import "o-ft-icons/main";
$o-grid-is-silent: false;
@import "o-grid/main";
$o-ft-forms-is-silent: false;
@import "o-ft-forms/main";

@import "src/scss/base";
@import "src/scss/logo";
@import "src/scss/nav";
@import "src/scss/primary";
@import "src/scss/secondary";
@import "src/scss/uber-index";

@include oFtIconsFontFace();

.icon {
	@include oFtIconsBaseIconStyles();
}
.icon__search {
	@extend %o-ft-icons-icon--search;
}

.icon__menu {
	@extend %o-ft-icons-icon--hamburger;
}

.icon__myft {
	@extend %o-ft-icons-icon--profile;
}

// HACK
.o-header .o-ft-forms__suffix {
	background: #333333;
	color: #FFFFFF;
	border: transparent;
}
