.o-header {
	font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);

	* {
		box-sizing: border-box;
	}
}

.o-header__container--primary > *,
.o-header__container--secondary > * {
	@extend %o-grid-row;
	@extend %o-grid-col;
	@extend %o-grid-colspan-12;
	padding-left: 0;
	padding-right: 0;
}

.o-header__container--primary {
	background: oColorsGetPaletteColor(black);
}

.o-header__left,
.o-header__right {
	display: table-cell;
	vertical-align: middle;
}
