.o-header__nav {
	text-align: right;

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
	}

	i {
		margin-right: 4px;
	}

	a {
		color: #FFFFFF;
		text-decoration: none;
		display: block;
		height: 38px;
		line-height: 38px;
		padding: 0 15px 0 15px;
	}
}

// HACK
.o-header[data-panel=search] [data-target-panel=search],
.o-header[data-panel=myft] [data-target-panel=myft],
.o-header[data-panel=menu] [data-target-panel=menu] {
	background: #AAAAAA;
	color: #000000;
}
