.o-header__container--secondary {
	background: oColorsGetPaletteColor(grey-tint5);
}

.o-header__secondary {
	text-align: center;
	display: none;
}

@media screen and (max-width: 600px) {
	.o-header__secondary {
		padding: 4px 8px;
	}
}
.o-header__secondary--search {
	.o-header[data-panel=search] & {
		display: block;	
	}

	form {
		margin: 0;
	}
}

.o-header__secondary--myft {
	.o-header[data-panel=myft] & {
		display: block;	
	}
}

.o-header__secondary--menu {
	.o-header[data-panel=menu] & {
		display: block;	
	}
}

.o-header__secondary--search {
	padding: 4px;
}
