.uber-index {
	margin: 0;
	padding: 0;
	font-family: BentonSans;
	text-align: left;

	ul, li {
		list-style: none;
	}
}

.uber-index__title {
	font-weight: bold;
	border-bottom: 1px solid oColorsGetPaletteColor(pink-tint3);
}

.uber-index__children {
	padding: 0;
	margin: 0;
}

.uber-index__child {
	font-weight: normal;
	border-top: 1px solid oColorsGetPaletteColor(grey-tint4);
}

.uber-index a {
	text-decoration: none;
	display: block;
	height: 41px;
	color: oColorsGetPaletteColor(white);
	font-size: 16px;
	line-height: 35px;
	padding: 3px 0 3px 0;
}

.uber-index__child a {
	color: oColorsGetPaletteColor(pink-tint3);
	font-size: 14px;
}
